.vb-captions {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
  color: #333;
}

.vb-captions__caption {
  font-size: medium;
  cursor: pointer;
  margin: 0;
  padding: 1em;
  transition: background-color 100ms linear;
}

.vb-captions__caption:hover {
  background-color: #91aab1;
  color: black;
}

.vb-captions__caption:active,
.vb-captions__caption_active:hover,
.vb-captions__caption_active {
  background-color: #59757d;
  color: black;
}

.vb-captions__caption_active,
.vb-captions__caption_previous {
  transition: background-color 300ms linear;
}

.vb-captions__caption_previous {
  background-color: #4a6268;
  color: black;
}

.vb-captions__invisible_quote {
  opacity: 0;
  font-size: 0.1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vb-captions__invisible_quote_nodisplay {
  display: none;
}
