<div class="vb-captions">
  <div *ngFor="let caption of captions"
       class="vb-captions__caption"
       [vbScroll]="isActive(caption)"
       [ngClass]="{
                  'vb-captions__caption_active': isActive(caption),
                  'vb-captions__caption_previous': isPrevActive(caption)
                  }"
       (click)="selectCaption(caption)">
       <span [ngClass]="{
         'vb-captions__invisible_quote': true,
         'vb-captions__invisible_quote_nodisplay': shouldDisableQuotes
        }">
         '
        </span>
       <span [innerHTML]='caption.text'>'</span>
       <span [ngClass]="{
         'vb-captions__invisible_quote': true,
         'vb-captions__invisible_quote_nodisplay': shouldDisableQuotes
        }">
         '
        </span>
  </div>
</div>
