.vb-captions {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: black;
  color: #665c54;
}

.vb-captions__caption {
  font-size: 0.9em;
  cursor: pointer;
  margin: 0;
  padding: 1em;
  transition: background-color 100ms linear;
}

.vb-captions__caption * {
  color: #665c54 !important;
}

.vb-captions__caption:hover {
  background-color: #919EA9;
  color: black;
}

.vb-captions__caption:active,
.vb-captions__caption_active:hover,
.vb-captions__caption_active {
  background-color: #757575;
  color: #fff;
}

.vb-captions__caption_active,
.vb-captions__caption_previous {
  transition: background-color 300ms linear;
}

.vb-captions__caption_previous {
  background-color: #616161;
  color: #fff;
}

.vb-captions__invisible_quote {
  opacity: 0;
  font-size: 0.1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vb-captions__invisible_quote_nodisplay {
  display: none;
}
