.vb-video {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.vb-video__element {
  width: 100%;
  margin: 0;
  float: right;
  flex: 0 1 auto;
}

.vb-video__cc {
  font-size: 2.5vw;
  text-align: center;
  position: absolute;
  width: fit-content;
  bottom: 5%;
  z-index: 2;
  text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}

/* Hide browser's built-in subtitles */
.vb-video ::cue {
  visibility: hidden;
  color: transparent;
}

.vb-video ::-webkit-media-controls-toggle-closed-captions-button,
.vb-video ::-webkit-media-text-track-container {
  display: none;
}
